<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sumitgouthaman.brainfuck_android" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".CodeActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InputOutputActivity"
            android:label="@string/title_activity_input_output"
            android:parentActivityName=".CodeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sumitgouthaman.brainfuck_android.CodeActivity" />
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:parentActivityName=".CodeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sumitgouthaman.brainfuck_android.CodeActivity" />
        </activity>
    </application>

</manifest>
